.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: var(--popup-bg);
    padding: 25px;
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    color: var(--text-color);
  }
  
  /* Close icon */
  .cross-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .popup-body {
    margin-top: 2rem;
  }
  
  /* Input Styles */
  .input-group {
    display: flex;
    gap: 40px;
    margin-bottom: 1.2rem;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: var(--light-text-color);
    width: 100%;
  }
  
  input {
    margin-top: 0.5rem;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    outline: none;
    width: 100%;
    background-color: var(--input-bg);
    color: var(--text-color);
  }
  
  input:focus {
    border-color: var(--input-focus-border);
  }
  
  /* Responsive adjustment */
  @media (max-width: 600px) {
    .input-group {
      flex-direction: column;
    }
  }
  
  /* Popup buttons */
  .popup-buttons {
    display: flex;
    margin-top: 20px;
    float: right;
    gap: 10px;
  }
  
  .popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .popup-buttons button:first-child {
    color: var(--primary-color);
    background-color: unset;
  }
  
  .popup-buttons button:last-child {
    color: #b3b4b2;
    background-color: var(--button-bg);
  }
  
  /* Add hover effect for buttons */
  .popup-buttons button:hover {
    opacity: 0.9;
  }
  
  .popup-buttons button:last-child:hover {
    color: var(--text-color);
    background-color: var(--hover-bg);
    opacity: 0.9;
  }